@model IEnumerable<SistemYoneticiligi.WebUI.Operations.CustomLogOperations.Queries.GetCustomLogs.GetCustomLogViewModel>
@{

    ViewData["Title"] = "Kayıt Ekranı";
}


<div class="col col-12 mt-2">
    <div class="card">
        <div class="card-header">
            <strong>Giriş Bilgileri</strong>
        </div>

        <div class="card-body">
            <div class="alert alert-info text-center mt-3 mb-3">
                <h3><strong>Ip Adresiniz: </strong> <span id="ipAddress"></span></h3>
            </div>

            <table class="table table-bordered">
                <thead>
                    <tr class="table-warning">
                        <th colspan="2" class="text-center">
                            Son Giriş Yapanlar
                        </th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IpAddress)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IpAddress)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    var getIp = {
        "url": "https://phpapis.enginyenice.com/ipgetter.php",
        "method": "GET",
        "timeout": 0,
    };

    $.ajax(getIp).done(function (response) {

        $("#ipAddress").html(`<a href="http://${response.ip}">${response.ip}</a>`);







        var createLog = {
            "url": "createlog",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({
                "IpAddress": response.ip
            }),
        };

        $.ajax(createLog).done(function (response) {
        });

















    });







</script>